@page "/counter"

<h1>Counter</h1>
<p>The counter value is @currentCount</p>

<button class="btn btn-primary" @onclick=Increment>ADD</button>

@code
{
  private int currentCount = 43;

  private void Increment()
  {
    currentCount++;
  }
}